.textAlign{
  text-align: left;
}

.numeroApuesta a{
  text-decoration: none;

}
.numeroApuesta li{
  list-style: none;
}
.numeroApuesta li a:link{
    color: black;
    border: 2px solid #17A600;
}

.numeroApuesta li a:hover{
  background: #17A600;

}

#tirar{
  padding: 0px;
  text-decoration-style:none;
  color:black;
  background-color: #17A600;
  font: serif;
  font-size: 15px;
}

li{
  cursor: pointer;
}
