/*Aca empieza el estilo por defecto
que usa los html del menu
(encuesta,homepage,pilotos-list,posiciones)*/
html,body{
  font-family:verdana;
  margin: 0px auto;
  padding: 0px;
  background-position: center;
}

.estilomenuhomepage a{
  text-decoration: none;
  font-size: 20px;
}

.estilomenuhomepage a:visited{
  color:white;
}

.estilomenuhomepage a:active{
  color:white;
}

.estilomenuhomepage a:link{
  color:white;
}

.estilomenuhomepage li{
  list-style: none;
  display: inline;
  margin: 10px 5px 10px 40px;
  font-style:normal;
  letter-spacing: 1px;
  font-size: 20px;
  color:#010101;
}

.estilomenuhomepage{
  background-color: black;
  border-radius: 4em/5em;
  height: 40px;
  width: 570px;
  position: relative;
  left: 380px;
}

.sizeImgIcon{
    image-resolution: 10dpi;
    width: 8%;
    height: 40px;
}

.positionImgIcon{
  right: 30px;
  position: relative;
  height: 10px;
}

.imghomepage{
  height: 800px;
  background-image:url('../css/images/f1.jpg');
  background-repeat: no-repeat;
}

.containerLatestNews{
   margin:20px 0px 0px 0px;
   width: 1000px;
   height: 150px;
   position: relative;
   left:150px;
}


/*Aca comienza los estilos que usa solo
  el homepage*/

  .box1{
      width: 200px;
      height: 150px;
      float:left;
  }

  .sizeImgCircuit{
    width: 200px;
    height: 150px;
  }

  .box2{
    width: 400px;
    height: 150px;
    background: white;
    float: left;
  }

  .sizeImgClima{
    width: 400px;
    height: 150px;
  }

  .box3{
    width: 400px;
    height: 150px;
    background: white;
    float: left;
  }

  .sizeImgParrilla{
    width: 400px;
    height: 150px;
  }

.containerNovedades{
  margin-top: 20px;
}

.containerNews{
  background: white;
  width: 560px;
  height: 130px;
  position: relative;
  left:395px;
  margin: 4px 0px 0px 0px;
}

.containerNews h2{
  margin-top: 0px;
  margin-bottom: 10px;
}

.containerNews p{
  font-size: 15px;
}

.posImgNoticia{
  float:left;
}

.titulo{
  background: white;
  float:left;
  width: 360px;
  height: 130px;
}
.titulo a:link{
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.titulo a:active{
  color:black;
}

.titulo a:visited{
  color:black;
}

.sizeImgNoticia{
  width: 200px;
  height: 130px;
}

/*Aca arranca los estilos para pilots-list.html*/
.stylelistpilot li{
  list-style: none;
}

.stylelistpilot a{
  text-decoration: none;
  color: black;
}

.stylelistpilot ul{
  display: inline-block;
}

/*Aca comienzan los estilos para los
perfiles de los pilotos*/

.contenedor{
  background-color: white;
  overflow: hidden;
  height: 450px;
  width: 1110px;
  padding: 0px/*Top-Arriba*/ 0px/*Right-Derecha*/ 0px /*Bottom-Abajo*/ 0px/*Left-Izquierda*/ ;
  margin-left: 10px;
  position: relative;
  left: 150px;
}
.perfil{
  background: white;
  width: 400px;
  height: 350px;
  float: left;
  padding: 0px 0px 0px 0px;
  margin: 10px 10px 0px 20px;
}

.perfil span{
  white-space: pre-wrap;
}

.sizeImgPilot{
  width: 400px;
  height: 350px;
  float: right;
}

.nroPiloto{
  font-size: 35px;
}

.sizeImgPais{
  width: 35px;
}

.namePilot{
  font-size: 39px;
  font-weight: bold;
}

.estadisticas{
  background-color: #F5FFFA;
  width: 650px;
  height: 438px;
  float: right;
  padding: 0px 0px 0px 20px;
  margin: 10px 10px 0px 0px;
}

.estadisticas tr{
  height: 50px;
}

.tituloTabla{
  font-family:sans-serif;
  color: black;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}

.valueStat{
  font-weight: bold;
  position: relative;
  left:100px;
}

.linkName{
  color: black;
  text-decoration: none;
  border-left:3px solid red;
}

.linkName:hover{
  border: 2px solid red;
}


.containerAchievents{
  background: white;
  opacity: 0.7;
  overflow: hidden;
}

.listAchievents{
  float: left;
}

.listAchievents li{
  list-style:square
}

.headListAchievents{
  font-weight: bold;
  text-decoration: underline;
}

.sizeImgcup{
  width: 200px;
  height: 280px;
  float: right;
  margin-right: 200px;
  margin-top: 30px;
}

/*Aca comienzan los estilos para
posiciones.html*/

.tablePosition{
  width: 1110px;
  height: 450px;
  position: relative;
  left: 300px;
}

#styleTittlePos{
  background-color: black;
  color: white;
  width: 635px;
}

.posicionesTab{
  background-color: white;
  border-collapse: collapse;
}

.center{
  text-align: center;
}

th,td{
  text-align: left;
  padding: 10px 50px 0px 0px;
  border-bottom: 1px solid black;
  border-collapse: collapse;
}
 .posicionesTab tr:nth-child(even){background-color: #f2f2f2}

/*Aca comienzan los estilos para
encuesta.html*/

.encuesta{
  width: 1200px;
  height: 700px;
  opacity: 0.9;
  background: white;
  display: inline-block;
  text-align: left;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border: 0px 0px 0px 0px;
}

.containerForm1{
  background: black;
  opacity: 0.7;
  margin: 0px 0px 0px 0px;
  height: 250px;
  width: 500px;
  display: inline-block;
}

.question{
  font-size: 25px;
  margin-left: 10px;
  color: white;
}

.positionButtonSino{
  position: relative;
  left: 45px;
}

.buttonQ1{
  text-align: center;
  display: inline-block;
  font-size: 30px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.buttonQ2{
  border: none;
  width: 140px;
  margin: 0px 0px 0px 0px;
  text-decoration: none;
  cursor: pointer;
  font-size: 25px;
  transition-duration: 0.4s;
  padding: 0px 0px 0px 0px;
}

.buttonSend{
  position: relative;
  left: 0px;
  margin-top: 20px;
}

.buttonSino{
  width: 200px;
}

.buttonSino:hover{
  background-color: red;
  color:white;
}

.posButtonSend{
  font-size: 15;
  position: relative;
  left:173px;
}

.containerForm2{
  text-align: center;
  background: black;
  opacity: 0.7;
  display: inline-block;
  width: 450px;
  height: 300px;
  margin: 10px 10px 10px 10px;

}

.buttonFerrari{
  background-color:white;
  border: 2px solid red;
}

.buttonFerrari:hover{
  background-color: red;
  color:white;
}

.buttonRenault{
  color: black;
  background-color:white;
  border: 2px solid yellow;
}

.buttonRenault:hover{
  background-color: black;
  color:white;
}

.buttonMercedes{
  background-color:white;
  border: 2px solid #16D891;
}

.buttonMercedes:hover{
  background-color: grey;
  color:white;
}

.buttonMclaren{
  background-color:white;
  border: 2px solid red;
}

.buttonMclaren:hover{
  background-color: black;
  color:red;
}

.buttonRedBull{
  background-color:white;
  border: 2px solid blue;
}

.buttonRedBull:hover{
  background-color: red;
  color:yellow;
}

.buttonToroRosso{
  background-color:white;
  border: 2px solid yellow;
}

.buttonToroRosso:hover{
  background-color: #20214F;
  color:red;
}

.buttonManor{
  background-color:white;
  border: 2px solid blue;
}

.buttonManor:hover{
  background-color: red;
  color:white;
}

.buttonForceIndia{
  background-color:white;
  border: 2px solid grey;
}

.buttonForceIndia:hover{
  background-color: black;
  color:orange;
}

.buttonSauber{
    background-color:white;
    border: 2px solid white;
  }

  .buttonSauber:hover{
    background-color: blue;
    color:yellow;
}

.buttonHaas{
    background-color:white;
    border: 2px solid red;
  }

  .buttonHaas:hover{
    background-color: black;
    color:grey;
}

.buttonWilliams{
    background-color:white;
    border: 2px solid #008CBA;
  }

  .buttonWilliams:hover{
    background-color: white;
    color:#008CBA;
}

.containerForm3{
 margin: 0px 10px 0px 0px;
 background: black;
 width: 500px;
 height: 150px;
 position: relative;
 display: inline-block;
 opacity: 0.7;
}

.select{
  color: white;
}
