html,body{
  font-family:verdana;
  margin: 0 auto;
  padding: 0;
  background-position: center;
}
.estilomenuhomepage a{
  text-decoration: none;
  font-size: 20px;
}

.estilomenuhomepage a:visited{
  color:white;
}

.estilomenuhomepage a:active{
  color:white;
}

.estilomenuhomepage a:link{
  color:white;
}

.estilomenuhomepage li{
  list-style: none;
  display: inline;
  margin: 10px;
  font-style:normal;
  letter-spacing: 1px;
  font-size: 20px;
  color:#010101;
}

.estilomenuhomepage{
  background-color: black;
  border-radius: 4em/5em;
  text-align: center;
  height: 40px;
  width: 730px;
  position: relative;
  left: 300px;
}

.sizeImgIcon{
    image-resolution: 10dpi;
    width: 6%;
    height: 40px;
}

.positionImgIcon{
  right: 370px;
  position: relative;
  height: 10px;
}

.imghomepage{
  height: 500px;
  background-image:url('../css/images/f1.jpg');
}

.fondopilotlist{
  background-color: grey;
}
.stylelistpilot li{
  list-style: none;
}

.stylelistpilot a{
  text-decoration: none;
  color: black;
}

.stylelistpilot ul{
  display: inline-block;
}

.contenedor{
  background-color: white;
  padding: 10px;
  overflow: hidden;
  height: 500px;
  padding: 0;
  margin: 0;
}
.perfil{
  background-color: white;
  width: 675px;
  height: 400px;
  margin: 40px;
  float: left;
  margin: 0;
  padding: 0;
}
.estadisticas{
  background-color: #F5FFFA;
  width: 675px;
  height: 400px;
  margin: 40px;
  float: right;
  margin: 0;
  padding: 0;
}

.sizeImgPilot{
  width: 690px;
  height: 500px;
}

.estadisticas tr{
  height: 50px;
}

.valueStat{
  font-weight: bold;
  position: relative;
  left:100px;
}

.tituloTabla{
  font-family:sans-serif;
  color: black;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}
