.estilomenuhomepage a{
  text-decoration: none;
  font-size: 20px;
}

.estilomenuhomepage a:visited{
  color:white;
}

.estilomenuhomepage a:active{
  color:white;
}

.estilomenuhomepage a:link{
  color:white;
}

.estilomenuhomepage li{
  list-style: none;
  display: inline;
  margin: 10px;
  font-style:normal;
  letter-spacing: 1px;
  font-size: 20px;
  color:#010101;
}

.estilomenuhomepage{
  background-color: black;
  border-radius: 4em/5em;
  text-align: center;
  height: 40px;
  width: 700px;
  position: relative;
  left: 250px;
}

.sizeImgIcon{
    image-resolution: 10dpi;
    width: 6%;
    height: 40px;
}

.positionImgIcon{
  right: 350px;
  position: relative;
  height: 16px;
}

.imghomepage{
  background-image:url('../css/images/f1.jpg');
}

.fondopilotlist{
  background-color: grey;
}

.styleimgpilot{
  position: absolute;
  left: 0px;
  height: 150px;
  width: 150px;
  margin: 10px;
}

.stylelistpilot li{
  list-style: none;
}

.stylelistpilot a{
  text-decoration: none;
  color: black;
}

.stylelistpilot ul{
  display: inline-block;
}

.green{
  opacity: 0.5;
  background-color: white;
  padding: 10px;
  overflow: hidden;
  height: 400px;
  padding: 0;
  margin: 0;
}
.blue{
  opacity: 0,5;
  background-color: blue;
  width: 675px;
  height: 400px;
  margin: 40px;
  float: left;
  margin: 0;
  padding: 0;
}
.red{
  opacity: 0,5;
  background-color: red;
  width: 675px;
  height: 400px;
  margin: 40px;
  float: right;
  margin: 0;
  padding: 0;
}
