body{
background-color: #FA9547;
text-align: center;
font-family: fantasy;
color: white;
}

h1{
  background-color: black;
  color: orange;

  text-shadow: 3px 3px 3px #FA9547;
}

h5{
  font-size: 80px;
}

.center-vertical{
  margin-top: 100px;
}

.thumbnail{
background-color: #FA9547;
border: 1px #FA9547 solid;
}

label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -3px;
    overflow: hidden;
}

th,tr{
  color: orange;
  font-family: sans-serif;
}

.panel th{
    text-align: center;
}
