body{
  background-color: rgb(255, 150, 0);
}
h1{
  color: red;
}

.signos{
  color: green;
}

.list-drink{
  list-style: circle;
  color: red;
}

.resaltado{
  font-weight: bold;
}

.container{
  border-style: solid;
  background-color: white;
}

table{
  border-collapse: collapse;
}

table,th,td{
  border: black;
  border-style: solid;
}

th{
  color:blue;
}

tbody{
font-style: italic;
}
