body{
  background-color: rgb(255, 150, 0);
}
h1{
  color: red;
}

.signos{
  color: green;
}

.list-drink{
  list-style: circle;
  color: red;
}

.resaltado{
  font-weight: bold;
}

.container{
  border-style: solid;
  background-color: white;
}

table{
  border-collapse: collapse;
}

table,th,td{
  border: black;
  border-style: solid;
}

th{
  color:blue;
}

tbody{
font-style: italic;
}

a:hover{
  color:darkblue;
  background-color: #eee;
}

p::first-letter{
  color: red;
  background-color: black;
}

/*input[type=checkbox]:checked{
  -webkit-appareance:button;
}*/

p.destacado::-moz-selection{
  background-color: red;
  color: white;
}

p.destacado::selection{
  background-color: red;
  color: white;
}

span.resaltado::selection{
  background-color;
  color: white;
}

span.resaltado::-moz-selection{
  background-color:red;
  color: white;
}
