header img{
  display: block;
  margin: auto;
}

header{
  text-align: center;
}

nav ul li{
  display: inline;
  margin: 10px;
  font-size: 20px;
  font-weight: bolder;
  color: #94afd8;
}

nav{
  background-color: #1e5db2;
  width: 848px;
  display: inline-block;
  border: 1px solid black;
}

nav ul{
  float: left;
  padding-left: 20px;
}

nav a{
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

nav a:visited{
  color: grey;
  font-size: 20px;
}

nav a::selection{
  background-color: black;
}

nav a:hover{
  border-top: 2px solid darkblue;
}

nav a:focus{
  background-color: white;
}

nav span{
  margin: 10px;
}

input[type=text] {
    width: 140px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    font-size: 20px;
    background-color: white;
    background-image: url('../images/searchicon.png');
    background-position: 4px 4px;
    background-repeat: no-repeat;
    padding: 2px 2px 3px 40px;
    -webkit-transition: width 0.4s ease-in-out;
   transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 300px;
}
